button {
    width: 2.5em;
    height: 2.5em;
    font-size: 1.5em;
    border: none;
    
    margin: 0.3em;
    
}

button:hover {
    cursor: pointer;
}

.wrapper {
    background-color: #374353;
    border-radius: 1em;
    padding: 1em;
    max-width: 370px;
    position: relative;
}
.theme{
    position: absolute;
    width: 80px;
    height: 35px;
    border-radius: 1.5em;
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    align-items:center;
    border: 1px solid;
    background-color: #feffff;
    color: #E2E3E7;;
}
.wrapper .oldnum{
    color:#8A9696;
}
.black {
    background-color: #374353;
    color: #E2E3E7;
}

.main{
    color:#8A9696;
    border-radius: 0.5em;
    perspective:1em;
    box-shadow: rgba(241, 241, 243, 0.25) 0px 30px 60px -12px, rgba(248, 246, 246, 0.3) 0px 18px 36px -18px;
    background-color: #374353;
}
.grey {
    background-color:#374353;
    color: #8A9696;
   

}

.resultado {
    color: white;
    display: flex;
    justify-content: flex-end; /* Ou 'right' = o resultado seria o mesmo */
    margin-right: 1em;
    font-size: 2em;
    height: 2em;
}